/* Обертка для метки */
.input-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #555;
  align-items: center;
}

/* Стили для поля ввода */
.input-field {
  display: flex;
  color: black;
  font-size: 15px;
  padding: 3px;
  border-radius: 10px;
  border: 1px solid gray;
}

/* Фокус на поле ввода */
.input-field:focus {
  border-color: #0f824c;
  box-shadow: 0 0 4px rgba(0, 255, 17, 0.5);
}

/* Стили для placeholder */
.input-field::placeholder {
  color: #aaa;
  font-style: italic;
}

/* Неактивное состояние (если поле disabled) */
.input-field:disabled {
  background-color: #f9f9f9;
  border-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

/* Ошибочное состояние (например, при валидации) */
.input-field.error {
  border-color: #dc3545;
  box-shadow: 0 0 4px rgba(220, 53, 69, 0.5);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.currency-symbol {
  position: absolute;
  left: 10px;
  /* Расположение значка внутри поля */
  color: #666;
  font-size: 14px;
  pointer-events: none;
}

.currency-input {
  padding-left: 25px;
  /* Отступ, чтобы текст не перекрывал значок € */
}
