.schedule-container {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 94%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.week-navigation {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week-navigation button {
    background-color: #0f824c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.week-navigation button:hover {
    background-color: #0f824c;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.schedule-table th {
    background-color: #0f824c;
    color: white;
    font-weight: bold;
}

.schedule-table td {
    background-color: #fff;
}

.schedule-table td:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.shift-editor {
    max-width: fit-content;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.time-inputs label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #555;
}

.time-inputs input {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.shift-editor button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.shift-editor button:hover {
    background-color: #218838;
}

.shift-editor button:last-child {
    background-color: #dc3545;
}

.shift-editor button:last-child:hover {
    background-color: #c82333;
}

.label-short-time {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-shift {
    display: flex;
    text-align: center;
    align-items: center;
    color: #007bff;
    font-size: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-button {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.time-inputs label {
    display: block;
    margin-bottom: 10px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.save-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #218838;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #c82333;
}

.time-work {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.short-time {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header-component {
    display: flex;
    font-size: 36px;
    padding: 15px 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.time-interval {
    display: flex;
    align-items: center;
    gap: 15px;

}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 6px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333;
}

.add-interval {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 5px 5px 5px 5px;
    margin-top: 50px;
}

.add-button-minus {
    background-color: #bcc556;
    color: white;
    border: none;
    padding: 5px 0px 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 4px;
}

.add-button-plus {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
    margin-top: 4px;
}

.add-button-minus:hover {
    background-color: #839f41;
}

.add-button-plus:hover {
    background-color: #218838;
}