/* General styles for toggle items */
.toggle-item {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  text-align: center;
  border: 1px solid #ddd;
  width: 80px;
  padding: 6px;
  border-radius: 12px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease;
}

.toggle-item:hover {
  box-shadow:
    0 6px 10px rgba(0, 0, 0, 0.15),
    0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Toggle switch styles */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin: 5px 0;
  cursor: pointer;
}

.toggle-switch input {
  display: none;
}

.toggle-switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  transition: background-color 0.4s;
  cursor: pointer;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

.toggle-switch input:checked + .slider {
  background-color: #4caf50;
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(26px);
}

/* Disabled state */
.toggle-switch input[disabled] + .slider {
  background-color: #e0e0e0;
  cursor: not-allowed;
  opacity: 0.6;
}

.toggle-switch input[disabled] + .slider:before {
  background-color: #bdbdbd;
}

/* Permissions table grid layout */
.permissions-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Evenly distribute all columns */
  gap: 10px;
  padding: 16px;
}

/* Header styles */
.permissions-header,
.permissions-rows {
  display: contents;
}

.permissions-header-item {
  padding: 10px;
  background-color: #2d3748;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex; /* Added for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Row and category styles */
.permissions-row {
  align-items: center;
  display: contents;
}

.permissions-category {
  padding: 10px;
  background-color: #2d3748;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  display: flex; /* Added for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Toggle container styles */
.permissions-toggle {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 10px;
}

/* Adjusted toggle-switch styling */
.toggle-switch .slider {
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 11px;
  transition: background-color 0.2s;
}

.toggle-switch input[type="checkbox"]:checked + .slider {
  background-color: #0f824c;
}
