.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: stretch;
  z-index: 9999;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 100px;
  background-color: #1f2937;
  color: white;
  width: 520px;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.35s ease-in-out;
  border-radius: 0;
  z-index: 9999;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0f824c;
}

.modal-header h2 {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.user-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.clear-button {
  background-color: #972b2b;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
  width: 47%;
}

.clear-button:hover {
  background-color: #882626;
  transform: scale(1.05);
}

.user-content p {
  margin: 0;
}

.user-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
