.input-container {
  position: relative;
}

.input-container .input {
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;

  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;

  transition: border-color 0.3s;
}

.input-container .input.error {
  border-color: #dc3545;
}

.input:focus {
  border-color: #0f824c;
  outline: none;
}

.input:hover {
  border-color: #0f824c;
}

.input:disabled {
  background-color: #f9f9f9;
  border-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

.input-container .clear {
  position: absolute;
  top: 0;
  right: 10px;
  transform: translateY(50%);
  cursor: pointer;
}
