.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: stretch;
  z-index: 999;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 100px;
  background-color: #1f2937;
  color: white;
  width: 520px;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.5s ease-in-out;
  border-radius: 0;
  z-index: 999;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0f824c;
}

.modal-header h2 {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.notification-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group label,
.container-options-component label {
  font-size: 18px;
  color: #cbd5e0;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 6%;
}

.example-custom-input,
.input-group textarea {
  border: 1px solid #374151;
  color: black;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.input-group textarea {
  height: 120px;
}

.submit-button {
  background-color: #0f824c;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.submit-button:hover {
  background-color: #0d7444;
  transform: scale(1.05);
}

.button-container .submit-button {
  width: 47%;
}

.clear-button {
  background-color: #972b2b;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
  width: 47%;
}

.clear-button:hover {
  background-color: #882626;
  transform: scale(1.05);
}

.notification-list {
  list-style: none;
  margin: 0;
  padding: 0 20px 20px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.notification-item {
  background: #2d3748;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

.notification-item.read {
  background-color: #374151;
}

.notification-item.unread:hover {
  background-color: #4b5563;
}

.notification-content p {
  margin: 0;
}

.notification-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.action-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.status {
  font-size: 14px;
  font-weight: bold;
}

.status.seen {
  color: #10b981;
}

.status.unseen {
  color: #f87171;
}

.mark-as-seen {
  background-color: #0f824c;
  color: white;
  padding: 8px 15px;
  /* Slightly larger button */
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mark-as-seen:hover {
  background-color: #129d5c;
}

.description {
  font-size: 16px;
  margin-bottom: 5px;
}

.time {
  font-size: 14px;
  color: #9ca3af;
}

.time-select {
  display: flex;
  gap: 15px;
}

.time-select-input {
  border: 1px solid #374151;
  background: #111827;
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.time-select-input:focus {
  border-color: #0f824c;
  box-shadow: 0 0 4px rgba(37, 99, 235, 0.5);
}

.dropdown-list {
  position: absolute;
  width: 100%;
  max-height: 210px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin-top: 80px;
  color: black;
}

.dropdown-list li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background: #f0f0f0;
}
