.select-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items:flex-start;
}
.select-field {
    width: 100%;
    color: black;
    font-size: 15px;
    padding: 4px;
    border-radius: 10px;
}