.btn {
  cursor: pointer;
}

.danger {
  background-color: #dc3545;
  color: white;
}

.warning {
  background-color: #ffc107;
}

.primary {
  background-color: #0f824c;
  color: white;
  transition: all 0.3s ease;
}

.primary:active {
  background-color: #2eab2e;
}

.primary:hover {
  background-color: #2eab2e;
}

.default {
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}

.default:hover {
  border-color: #0f824c;
  color: #0f824c;
}
