.leads-table {
  width: 100%;
  /* TODO: Replace 67px with dynamic heigh of pagination */
  height: calc(100% - 67px);
  overflow-y: scroll;
}

.lead-workflow-content {
  font-weight: bold;
  color: #17a2b8;
  padding: 8px;
  border-radius: 4px;
  text-wrap: nowrap;
  white-space: nowrap;
}

.row-id {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.row-id:hover {
  text-decoration: underline;
}
