.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.apply-btn {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.reset-btn {
  background: #ff9800;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-btn {
  background: #ccc;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.container-extra-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px solid #ddd;
  border-radius: 8px;
  padding: 5px;
}

.content h2 {
  margin-block: 0 16px;
}

.filled-field {
  border: 2px solid #4caf50 !important;
  background-color: rgba(76, 175, 80, 0.1);
  transition: all 0.3s ease-in-out;
}

.leads-filters-modal {
  height: 700px;
  overflow-y: auto;
  width: 100%;
}
