.container-extra-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px solid #ddd;
  border-radius: 8px;
  padding: 5px;
}

.container-content-title {
  height: 100%;
}

/* TODO: Remove when reset.css file is implemented */
.container-content-title h2 {
  margin-block: 0 16px;
}

/* TODO: Remove when Input component is implemented */
.filled-field {
  border: 2px solid #4caf50 !important;
  background-color: rgba(76, 175, 80, 0.1);
  transition: all 0.3s ease-in-out;
}

.container-ticket-content {
  height: 700px;
  overflow-y: auto;
  width: 100%;
}
