.container-extra-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px solid #ddd;
  border-radius: 8px;
  padding: 5px;
}

.container-content-title {
  height: 100%;
}

/* TODO: Remove when reset.css file is implemented */
.container-content-title h2 {
  margin-block: 0 16px;
}

.container-ticket-content {
  height: calc(660px - (40px + 34px + 20px));
  overflow-y: auto;
  width: 100%;
}
