.app-container {
  display: flex;
  /* flex-direction: row; */
  /* gap: 20px; */
  /* height: 100vh;
    margin-left: 100px;
    overflow: hidden; */
}

/* Because of this break chat layout */
/* .page-content {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  position: relative;
  height: 100%;
} */

.page-content {
  padding: 20px;
  border: 1px solid red;
  width: 100%;
  overflow: scroll;
}
