.segmented {
  padding: 2px;
  border-radius: 6px;
  background-color: #f5f5f5;
  display: flex;
}

.segmented .segmented-option {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.segmented .segmented-option:hover {
  background-color: #ccc;
}

.segmented .segmented-option.active {
  background-color: white;
  padding: 8px;
  border-radius: 6px;
}
