.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-container {
  display: flex;
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.toggle-label {
  font-size: 18px;
}
