.week-navigation {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.week-navigation button {
  background-color: #0f824c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.schedule-container .button-container {
  margin-top: 22px;
}

.week-navigation button:hover {
  background-color: #0f824c;
}

.schedule-table-container {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling when needed */
}

.schedule-table {
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed; /* Keeps columns consistent */
  width: 100%;
  min-width: fit-content; /* Ensures table fits content when wider than the viewport */
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  height: 50px;
  min-width: 140px; /* Ensures each cell is at least 140px wide */
  word-break: break-word; /* Ensures content wraps properly */
}

.schedule-table th {
  background-color: #0f824c;
  color: white;
  font-weight: bold;
}

.userGroup-input-container {
  margin-left: 16px;
  margin-right: 16px;
  width: calc(100% - 32px);
}

.userGroup-button {
  padding: 0;
}

.userGroups-display {
  display: flex;
  gap: 5%;
}

.schedule-table td {
  background-color: #fff;
}

.schedule-table td:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.shift-editor {
  max-width: fit-content;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.time-inputs label {
  display: block;
  font-size: 16px;
  color: #ffffff;
}

.time-inputs input {
  margin-left: 10px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.shift-editor button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.shift-editor button:hover {
  background-color: #218838;
}

.shift-editor button:last-child {
  background-color: #dc3545;
}

.shift-editor button:last-child:hover {
  background-color: #c82333;
}

.label-short-time {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-shift {
  display: flex;
  text-align: center;
  align-items: center;
  color: #007bff;
  font-size: 20px;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.save-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #218838;
}

.cancel-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #c82333;
}

.time-work {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.short-time {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-component {
  display: flex;
  font-size: 36px;
  padding: 15px 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.time-interval,
.add-interval {
  display: flex;
  align-items: center; /* Vertically center elements */
  justify-content: space-evenly; /* Evenly distribute space between and around elements */
  gap: 15px; /* Optional: control the minimum spacing between elements */
}

.time-interval {
  padding: 8px 0px;
}

.add-interval {
  margin-top: 36px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.delete-button:hover {
  background-color: #c82333;
}

.add-button-minus,
.add-button-plus {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  color: white;
  border: none;
  padding: 10px 10px; /* Adjust padding for consistent button size */
  border-radius: 5px;
  font-size: 18px; /* Font size for the symbols */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.add-button-plus {
  background-color: #0f824c;
}

.add-button-minus {
  background-color: #c82333;
}

.add-button-minus:hover,
.add-button-plus:hover {
  background-color: #a9b644; /* Slightly darker shade on hover */
}

.add-button-minus:hover {
  background-color: #dd3243;
}

.add-button-plus:hover {
  background-color: rgb(41, 167, 68);
}
