.date-picker-wrapper .react-datepicker__close-icon:after {
  background-color: transparent;
  color: black;
  font-size: 20px;
}

.date-picker-wrapper .react-datepicker-ignore-onclickoutside {
  transition: border-color 0.3s;
}

.date-picker-wrapper .react-datepicker-ignore-onclickoutside:focus {
  border-color: #0f824c;
  box-shadow: 0 0 4px rgba(15, 130, 76, 0.5);
  outline: none;
}

.date-picker-wrapper .react-datepicker__input-container:focus-visible {
  border-color: #0f824c;
  box-shadow: 0 0 4px rgba(15, 130, 76, 0.5);
  outline: none;
}

.date-picker-wrapper .react-datepicker-wrapper:focus-visible {
  border-color: #0f824c;
  box-shadow: 0 0 4px rgba(15, 130, 76, 0.5);
  outline: none;
}
