.container-side-bar {
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Расположение элементов по вертикали */
    background-color: #88a5cd; /* Цвет фона панели */
    padding: 10px;
    height: 758px;
    width: fit-content;
    max-width: 65px;
}

.menu-side-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Заставляем элементы занимать всю ширину */
}

.toggle-button {
    display: none; /* Убираем кнопку сворачивания */
}

.menu-item {
    cursor: pointer; /* Указатель при наведении */
    display: flex; /* Используем flexbox для выравнивания */
    text-align: center;
    align-items: center; /* Выравнивание по центру */
    justify-content: center;
    color: #333; /* Цвет текста */
    transition: background-color 0.3s; /* Плавный переход фона */
    border-radius: 5px; /* Скругление углов */
    padding: 12px 0px;
}

.menu-item:hover {
    background-color: #97acec; /* Цвет фона при наведении */
    border-radius: 50%; /* Скругление углов */
}

.container-item-menu {
    display: flex;
    flex-direction: column;
}

/* Добавляем стили для текста и иконок в пунктах меню */
.menu-item:before {
    display: inline-block; /* Делаем элемент блочным */
    width: 24px; /* Ширина для символа */
    height: 24px; /* Высота для символа */
    text-align: center; /* Центрируем текст */
    line-height: 24px; /* Вертикальное выравнивание */
    font-size: 20px; /* Размер шрифта для символа */
    margin-right: 10px; /* Отступ справа от символа */
}
.menu-item.active {
    background-color: white; /* Фон для активного элемента */
    color: #333; /* Цвет текста для активного элемента */
    font-size: 15px;
    font-weight: bold;
    border-radius: 100%; /* Скругление углов */
    border: 1px solid white;
}