.container-side-bar {
    display: flex;
    flex-direction: column; /* Расположение элементов по вертикали */
    justify-content: space-between; /* Отделяем меню от кнопки выхода */
    background-color: #88a5cd; /* Цвет фона панели */
    padding: 10px;
    width: fit-content;
    max-width: 65px;
}

.menu-side-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Заставляем элементы занимать всю ширину */
}

.container-item-menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    cursor: pointer; /* Указатель при наведении */
    display: flex; /* Используем flexbox для выравнивания */
    text-align: center;
    align-items: center; /* Выравнивание по центру */
    justify-content: center;
    color: #333; /* Цвет текста */
    transition: background-color 0.3s; /* Плавный переход фона */
    border-radius: 5px; /* Скругление углов */
    padding: 12px 0px;
}

.menu-item:hover {
    background-color: #97acec; /* Цвет фона при наведении */
    border-radius: 50%; /* Скругление углов */
}

.menu-item.active {
    background-color: white; /* Фон для активного элемента */
    color: #333; /* Цвет текста для активного элемента */
    font-size: 15px;
    font-weight: bold;
    border-radius: 100%; /* Скругление углов */
    border: 1px solid white;
}

.unread-indicator {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    margin-left: 5px;
}

.container-log-out {
    display: flex;
    justify-content: center; /* Центрируем кнопку выхода */
    margin-top: auto; /* Отправляем кнопку в самый низ */
}