.tag-input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.tags-display {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-bottom: 12px;
  padding: 12px 20px;
  width: 100%;
}

.tag-item {
  background-color: #0f824c;
  color: white;
  padding: 12px 18px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.8px;
  width: 24%;
}

.tag-text {
  overflow: hidden;
}

.remove-tag-button {
  background: none;
  border: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
  padding: 0;
  padding-left: 6px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 12px;
}

.tag-input,
.textarea-input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #374151;
  border-radius: 5px;
  background-color: #fff;
  color: #111827;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.tag-input:focus,
.textarea-input:focus {
  border-color: #0f824c;
  box-shadow: 0 0 4px rgba(15, 130, 76, 0.5);
}

.suggestions-list {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: auto;
  color: black;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestion-item:hover {
  background-color: #e0e0e0;
}

.textarea-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.submit-button {
  background-color: #0f824c;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.submit-button:hover {
  background-color: #0d7444;
  transform: scale(1.05);
}

.clear-button {
  background-color: #972b2b;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 45%;
  margin-right: 1%;
}

.clear-button:hover {
  background-color: #882626;
  transform: scale(1.05);
}

.ticket-modal-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.ticket-modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.action-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
