.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0;
  font-size: 14px;
}

.table .table-tr {
  transition: background-color 0.3s ease;
}

.table tbody .table-tr:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.table tbody .table-tr.selected-row {
  background-color: #fafafa;
}
