.custom-multi-select {
    position: relative;
    width: 100%;
    font-family: Arial, sans-serif;
}

.select-field-custom {
    padding: 12px;
    border: 1px solid #374151;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    font-size: 16px;
}

.selected-options {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.selected-tag {
    background: #0f824c;
    color: white;
    padding: 5px 8px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.selected-tag button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.placeholder {
    color: #888;
}

.dropdown {
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    z-index: 100;
}

.search-input-multi {
    width: calc(100% - 20px);
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
}

.options-list {
    max-height: 200px;
    overflow-y: auto;
}

.option {
    padding: 8px;
    cursor: pointer;
}

.option:hover {
    background: #f0f0f0;
}

.option.selected {
    background: #cce5ff;
}

.no-match {
    padding: 8px;
    text-align: center;
    color: red;
    font-size: 14px;
}