.snackbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  animation: fadeIn 0.3s;
}

.snackbar-info {
  background-color: #2196f3;
}

.snackbar-success {
  background-color: #4caf50;
}

.snackbar-error {
  background-color: #f44336;
}

.snackbar-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.snackbar-container {
  position: fixed;
  bottom: 20px;
  left: 20px; /* Установлено на левый край */
  width: 300px;
  z-index: 1000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}