.spin {
  width: 46px;
  height: 46px;
  border: 4.6px solid rgba(255, 255, 255, 0.1);
  border-top: 4.6px solid #0f824c;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}