/* Основной контейнер чата */
.chat-container {
    display: flex;
    height: 97vh;
    width: 100%;
    /* margin-top: 30px; */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Левая колонка с пользователями или списком чатов */
.users-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    width: 23vw;
    height: 100vh;
}

/* Область чата (сообщения + отправка сообщения) */
.chat-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f9f9f9;
}

/* Контейнер для сообщений */
.chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 39vw;
    height: 100vh;
    scroll-behavior: auto;
    /* Мгновенный скролл */
}

/* Стили для каждого сообщения */
.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message.sent {
    align-items: flex-end;
    padding-left: 100px;
}

.message.received {
    align-items: flex-start;
    padding-right: 100px;
}

.message .text {
    /* max-width: 70%; */
    padding: 10px;
    border-radius: 15px;
    background-color: #e0e0e0;
    color: #333;
}

.message.sent .text {
    background-color: #007bff;
    color: #fff;
}

.message-time {
    font-size: 0.75em;
    color: white;
    margin-top: 3px;
    text-align: right;
}

/* Контейнер для поля ввода сообщения */
.manager-send-message-container {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    align-items: center;
    gap: 20px;
}

/* Поле ввода сообщения */
.text-area-message {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    outline: none;
    height: 100px;
    width: fit-content;
}

/* Кнопки отправки и вложений */
.btn-send-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.send-button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-button {
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    transition: background-color 0.3s;
    padding: 3px;
}

.file-button:hover {
    background-color: #265689;
}

.send-button:hover {
    background-color: #0056b3;
}

.chat-item {
    padding: 5px 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

.chat-item.active {
    background-color: #4e73df;
    color: #ffffff;
}

/* Эффект при наведении на чат */
.chat-item:hover {
    background-color: #f1f5ff;
    color: black;
}

.extra-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    border-radius: 8px;
    width: 25vw;
}

.extra-info h4 {
    margin-bottom: 10px;
    color: #333;
}

.select-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.select-container label {
    margin-right: 10px;
    font-weight: bold;
    color: #555;
}

.custom-select {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    width: 100%;
    max-width: 200px;
    transition: border-color 0.3s ease;
}

.custom-select:hover {
    border-color: #007bff;
}

.custom-select:focus {
    border-color: #0056b3;
    outline: none;
}

.btn-send-message {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.selects-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.react-datepicker__input-container {
    position: relative;
    display: inline-block;
    /* width: 100%; */
}

.react-datepicker__close-icon {
    padding-right: 15px;
}

.react-datepicker__close-icon::after {
    cursor: pointer;
    color: black;
    background-color: #88a5cd;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    padding: 2px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    content: "x";
}

.example-custom-input {
    display: flex;
    color: black;
    font-size: 15px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid gray;
    /* width: 93%; */
}

.date-go-back {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 10px 0px;
}

.date-contract-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    font-weight: bold;
    color: #555;
    padding: 0px !important;
    margin: 0px !important;
}

.send-extra-info-button {
    background-color: green;
}

.chat-item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.info-message {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.last-message-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: coral;
}

.unread-count {
    border-radius: 100%;
    /* border: 1px solid red; */
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    color: white;
}

.last-message-ticket {
    white-space: nowrap;
    /* Не позволяет тексту переноситься на новую строку */
    overflow: hidden;
    /* Обрезает текст, если он выходит за пределы */
    text-overflow: ellipsis;
    /* Добавляет многоточие, если текст не помещается */
}

.message-content {
    display: flex;
    flex-direction: column;
}

.message-row {
    display: flex;
    align-items: center;
    /* Выровнять по вертикали */
}

.menu-container {
    margin-left: 8px;
    /* Отступ между текстом и кнопкой */
    position: relative;
    /* Для позиционирования выпадающего меню */
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.menu-dropdown button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    text-align: left;
}

.menu-dropdown button:hover {
    background: #f5f5f5;
}

.emoji-picker-popup {
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* width: 500px;
    height: 500px; */
    /* overflow: hidden; */
    transition: opacity 0.2s;
}

.container-template {
    display: flex;
    flex-direction: column;
    width: 30px;
    align-items: center;
    gap: 10px;
}

.container-template-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.menu-button:focus {
    border: 1px solid blue;
}

.emoji-button {
    display: flex;
    background-color: white;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}