.dashboard-header {
  position: fixed;
  width: calc(100% - 90px);
  background-color: #dfefd9f9;
  padding-inline: 20px;
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 500px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-input {
  min-width: 350px;
}

.button-filter {
  position: relative;
}

.filter-indicator {
  position: absolute;
  top: 4px;
  right: 12px;
  width: 8px;
  height: 8px;
  background: #ff4d4f;
  border-radius: 50%;
}

.ticket-counter-row {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  height: 100%;
  padding-inline: 10px;
  background-color: #f8f9fa;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.add-lead {
  height: 100%;
  font-weight: bold;
}
