.leads-header-container {
  position: fixed;
  width: calc(100% - 90px);
  background-color: #dfefd9f9;
  padding-inline: 20px;
  padding-block: 10px;
}

.leads-header-filter-search {
  min-width: 350px;
}

.leads-header-filter-button {
  position: relative;
  height: 100%;
  width: 37px;
  padding: 0;
  border: none;
  background-color: #f8f9fa;
  border-radius: 6px;
}

.leads-header-filter-button:hover {
  background-color: #f8f9fa;
  border-radius: 6px;
}

.leads-header-filter-button-indicator {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 8px;
  height: 8px;
  background: #ff4d4f;
  border-radius: 50%;
}

.tickets-total {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  height: 100%;
  padding-inline: 10px;
  background-color: #f8f9fa;
  border-radius: 6px;
}

.leads-header-filter-add-lead {
  height: 100%;
  font-weight: bold;
}
